@model IEnumerable<Car>

<a asp-action="AddCar">Create new car</a>

<h1>Cars</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Name</td>
                <td>@car.Color</td>
                <td>$ @car.Price</td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteCar" asp-route-id="@car.Id">Delete</a>
                    <a class="btn btn-warning" asp-action="EditCar" asp-route-id="@car.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>